# Ignore all input files
input*

# Ignore any test files
test*

# Ignore any notes files
notes*

# Ignore any swap files
*.swp

# Ignore all puzzle description files
puzzle.md

# Ignore files containing submission attempts and results
submissionAttempts

# Ignore my .vscode files
.vscode

# Ignore my script template
template.pl
